/* SIDENAV MENU */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -250px;
    background-color: #202020;
    opacity: 99%;
    padding-top: 60px;
    transition: right 0.5s ease;
}

.sidenav a {
    padding: 35px 0px 6px 63px;
    text-decoration: none;
    font-size: 1.563rem;
    color: #ededed;
    display: block;
    transition: 0.3s;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav.active {
    right: 0;
}

.closeLink.active{
    right: 0;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.25rem;
}
/* FIN SIDENAV */